.image img{
    border: 2px solid white;
    border-radius: 10px;
}
.post{
    width: 100%;
    height: 220px;
    border-radius: 20px;
    background-color: #2980b9;
    color: white;
    display: flex;
}
.post:hover{
    background-color: #3498db;
    box-shadow: none;
}
.postImg {
    margin-right: 25px;
    align-self: center;
}